{% extends 'base.html' %} {% block content %}
<div class="home-body">
    <h3>Manage Your Crypto Research and Portfolios in One Place</h3>

    <div class="home-body-list">
        <ul class="browser-default">
            <li>Research and Follow your favorite Crypto coins</li>
            <li>Document Recommendations and Pricing</li>
            <li>Track your Crypto Portfolio</li>
            <li>Get the latest Crypto Prices</li>
        </ul>
    </div>
    <p>Welcome to CryptoVision, the premier website for information on cryptocurrencies. Get the most recent cryptocurrency news from reliable sources to stay ahead of the curve. Keep track of your favorite coins' most recent developments by following them. To make wise judgments, get specific document recommendations and price. Follow well-known crypto influencers to learn from professionals in the field. Easily track your cryptocurrency portfolio and keep an eye on your assets. Make smart deals and stay on top of the market with real-time cryptocurrency prices. Take your cryptocurrency journey to the next level by joining the CryptoVision community today.</p>
</div>
{% endblock %}